# {{ ansible_managed }}
{% for config_key, config_value in kafka_server_properties.items()  | list %}
{% if config_value is sequence and config_value is not string %}
{{ config_key | regex_replace('_', '.') }}={{ config_value | join(',') }}
{% elif config_value is string and '\n' in config_value %}
{{ config_key | regex_replace('_', '.') }}={{ config_value | regex_replace('\n', '\\\n') }}
{% else %}
{{ config_key | regex_replace('_', '.') }}={{ config_value }}
{% endif %}
{% endfor %}
